@model IEnumerable<guido_sanz_parcial1.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MotoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @if(User.IsInRole("admin") || User.IsInRole("broker")){
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MotoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @if(User.IsInRole("admin") || User.IsInRole("broker")){
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>                
                </td>
            }
        </tr>
}
    </tbody>
</table>
