@model guido_sanz_parcial1.ViewModels.AgencyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Agencia @Html.DisplayFor(model => model.Agency.Name)</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency.Phone)
        </dd>
    </dl>
</div>

<h1>Inventario Motos</h1>
<label for="quantity" class="ms-16">Cantidad de motos en stock:</label>
    <span id="quantity" class="badge bg-primary ms-2">@Model.quantityInStock</span>

    <label for="total">Total de capital invertido:</label>
    <span id="total" class="badge bg-success ms-2">$@Model.total</span>
<div>
    <table class="table">
    <thead>
        <tr>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Tipo
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad disponible
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.Agency.Invertorys != null)
{
    @foreach (var item in Model.Agency.Invertorys) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Moto.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moto.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moto.Type)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Moto.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a class="btn btn-primary"asp-controller="Inventory" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-danger"asp-controller="Inventory" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
</div>
<div>   
    <a class="btn btn-primary" asp-controller="Inventory" asp-action="Create" asp-route-id="@Model.Agency.Id">Agregar moto al inventario</a>  
</div>


