@model guido_sanz_parcial1.ViewModels.AgencyViewModel;

@{
    ViewData["Title"] = "Index";
}

<div class="container">
  <h1>Listado de agencias de motos</h1>

  <form method="get" asp-action="Index" class="row g-3">
    <div class="col-auto">
      <input class="form-control" asp-for="NameFilter" placeholder="Nombre agencia o dirección" />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </form>

  <div class="table-responsive mt-4">
    <table class="table table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th>@Html.DisplayNameFor(model => model.Agency.Name)</th>
          <th>@Html.DisplayNameFor(model => model.Agency.Address)</th>
          <th>@Html.DisplayNameFor(model => model.Agency.Phone)</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Agencys)
        {
          <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>
              <div class="d-flex justify-content-center">
                @if (User.IsInRole("admin") || User.IsInRole("broker"))
                {
                  <a class="btn btn-primary btn-sm me-2" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                }

                  <a class="btn btn-primary btn-sm me-2" asp-action="Details" asp-route-id="@item.Id">Inventario</a>

                @if (User.IsInRole("admin") || User.IsInRole("broker"))
                {
                  <a class="btn btn-danger btn-sm ml-2" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (User.IsInRole("admin") || User.IsInRole("broker"))
  {
    <div>
      <a class="btn btn-success" asp-action="Create">Crear nueva agencia</a>
    </div>
  }
</div>
