@using guido_sanz_parcial1.ViewModels;
@model guido_sanz_parcial1.ViewModels.MotoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de motos</h1>

<form method="get" asp-action="Index" class="row g-3">
    <div class="col-auto">
        <input class="form-control" asp-for="NameFilter" placeholder="Marca o modelo"/>     
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" type="submit">Buscar</button>          
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Moto.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moto.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moto.CubicCentimeters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moto.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moto.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Motos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CubicCentimeters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-primary btn-sm mr-2" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva moto</a>
</p>